.mainContent {
    width: 35%;
    height: 95%;
    padding: 20px; 
    /* border: 3px solid rgb(0, 0, 0);  */
    border-radius: 8px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainContent h2 {
    /* border: 2px solid red; */
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#caixaPergunta {
    /* border: 1px solid rgb(0, 0, 0); */
    border-radius: 6px;
    width: 460px;
    height: 85px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#botaoenviar:active {
    border: none;
    border-radius: 6px;
    height: 45px;
    width: 100px;
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

#respostaAI{
    margin-top: 20px;
    /* border: 1px solid rgb(0, 0, 0); */
    /* max-height: 1000px;  */
    height: 500px; 
    /* overflow-y: auto;   */
    padding:  10px;
    margin-bottom: 30px;
    flex-grow: 1;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.8px);
    -webkit-backdrop-filter: blur(9.8px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.botaocaixa {
    /* border: 1px solid red; */
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    /* margin-top: 50%; */
    align-items: center;
}

